bcrypt==1.1.0
cffi==0.8.6
Django==1.7.4
django-appconf==1.0.1
django-compressor==1.4
django-extensions==1.5.0
django-historylinks==1.0.3
django-reversion==1.8.5
django-suit==0.2.12
django-watson==1.1.5
onespacemedia-cms==1.1.2
Pillow==2.7.0
psycopg2==2.6
pycparser==2.10
raven==5.2.0
six==1.9.0
sorl-thumbnail==12.2
Werkzeug==0.10.1
