{% extends "base.html" %}
{% load words_tags %}

{% block content_primary %}

<div class="row" style="text-align: center;">
    <header>
        <h1>{{ settings.SITE_NAME }}</h1>
        <h2>Add vowels to create a word.</h2>
    </header>

    <div id="hint"><h1></h1></div>

    {% word as word %}

    <input type="text" value="{{ word.letters }}" id="game_input" maxlength="10">

    <div class="clearfix" style="text-align: left;">
        <div style="float: left; width: 50%;">
            <p>
                <strong>Answers:</strong><br>
                {% for key in word.possible %}
                    {{ key }}-letter words: <span class="track-{{ key }}">0</span>/{{ word.possible|get_item:key|length }}.<br>
                    {% for word in word.possible|get_item:key %}
                        <span class="answer" data-value="{{ word }}">
                            {{ word }}
                        </span>
                    {% endfor %}
                    <span class="answers answers-{{ key }}"><br><br></span>
                {% endfor %}
            </p>
        </div>
        <div style="float: left; width: 50%;">
            <p>
                <strong>Controls:</strong><br>
                Enter: Submit your answer<br>
                R: Reset your vowels<br>
                H: Get a hint.<br>
                N: New game.<br>
                V: Show / hide all answers.
            </p>
        </div>
    </div>

</div>

<script>
var words = [
    {% for key in word.possible %}
        {% for word in word.possible|get_item:key %}
            "{{ word }}",
        {% endfor %}
    {% endfor %}
];
</script>
{% endblock %}
